.carrousel {
    display : flex;
    overflow: hidden;
    position: relative;
}

.carrousel-repeater {
    margin  : 8px;
    position: relative;
}

img.carrousel-image {
    max-width : 200px;
    width     : 200px;
    max-height: 300px;
    height    : 300px;
}

.carrousel-title {
    z-index   : 1;
    position  : absolute;
    max-width : 200px;
    width     : 200px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height    : 4em;
    font-size : 1em;
}

.carrousel-title p {
    box-orient        : vertical;
    display           : -webkit-box;
    font-weight       : bold;
    line-clamp        : 2;
    margin            : 0px !important;
    overflow          : hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.carrousel-details {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    bottom    : 0px;
    display   : none;
    height    : 150px;
    max-height: 150px;
    max-width : 200px;
    position  : absolute;
    width     : 200px;
    z-index   : 1;
}

.carrousel-details-container {
    position: absolute;
    bottom  : 0;
}

.carrousel-details p {
    margin: 0px !important;
}

.carrousel-repeater:hover .carrousel-details {
    display: block;
}

//Round buttons styles
.round-button {
    background-color: #AAA;
    border-radius   : 50%;
    display         : block;
    height          : 50px;
    position        : absolute;
    width           : 50px;
    z-index         : 2;
    display         : none;
}

#acc-button-left {
    left: 10px;
    top : 150px;
}

#acc-button-right {
    right: 10px;
    top  : 150px;
}

#arrow-right {
    width        : 0;
    height       : 0;
    border-top   : 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left  : 20px solid #EEE;
    position     : relative;
    top          : 5px;
    left         : 20px;
}

#arrow-left {
    width        : 0;
    height       : 0;
    border-top   : 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right : 20px solid #EEE;
    position     : relative;
    top          : 5px;
    left         : 10px;
}

//Show round buttons on hover
.carrousel:hover .round-button {
    display: block;
}