<section (window:resize)="onResize()" class="carrousel">
    <div *ngIf="display.offset>0" (click)="$event.stopPropagation(); loadPrevious()" id="acc-button-left"
        class="round-button">
        <div id="arrow-left"></div>
    </div>
    <section *ngFor="let anime of displayedAnimes" class="carrousel-repeater" (click)="animeCardClicked(anime.mal_id); $event.stopPropagation()">
        <div class="carrousel-title">
            <p>{{anime.title}}</p>
        </div>
        <img class="carrousel-image" [src]=anime.image_url
            alt='Error loading image'>
        <section class="carrousel-details">
            <div class="carrousel-details-container">
                <p *ngIf="anime.episodes">
                    <strong>Episodes:</strong>
                    {{anime.episodes}}
                </p>
                <!--Score can be the user's or the public one depending on the context-->
                <p *ngIf="anime.score">
                    <strong>Score:</strong>
                    {{anime.score}}
                </p>
                <p *ngIf="anime.type">
                    <strong>Type:</strong>
                    {{anime.type}}
                </p>
                <!--Watched episodes by the user (just shown in history)-->
                <p *ngIf="anime.watched_episodes">
                    <strong>Watched episodes:</strong>
                    {{anime.watched_episodes}}
                </p>
            </div>
        </section>
    </section>
    <div *ngIf="(this.display.offset+this.display.completeDisplayedElements)<this.animes.length" (click)="loadNext()"
        id="acc-button-right" class="round-button">
        <div id="arrow-right"></div>
    </div>
</section>