<header class="toolbar">
    <section class="toolbar-title">
        <span>MAL-Demo</span>
    </section>
    <section class="toolbar-actions">
        <button (click)="navigateTo('')">
            <span>Home</span>
        </button>
        <!--Logged in buttons-->
        <button *ngIf="authenticated" (click)="navigateTo('/history')">
            <span>History</span>
        </button>
        <!--Not logged in buttons-->
        <button *ngIf="!authenticated" (click)="openLoginDialog()">
            <span>Login</span>
        </button>
        <!--Log out button-->
        <button *ngIf="authenticated" (click)="logOut()">
            <span>Log Out</span>
        </button>
    </section>
</header>
<div id=loginDialog class=dialog>
    <div class="dialog-content">
        <header class="toolbar">
            <section class="toolbar-title">
                <span>Login</span>
            </section>
            <section class="toolbar-actions">
                <!--Close dialog button-->
                <button (click)="closeLoginDialog()">
                    <span>&times;</span>
                </button>
            </section>
        </header>
        <form class="padding-10" name="loginForm">
            <div class="input-container">
                <input type="email" placeholder="Username" [(ngModel)]="loginData.username" name="user-email">
            </div>
            <div class="input-container">
                <input type="password" placeholder="Password" [(ngModel)]="loginData.password" name="user-password">
            </div>
        </form>
        <footer class="toolbar">
            <section class="toolbar-actions">
                <!--Close dialog button-->
                <button [disabled]="!loginData.username||!loginData.password" (click)="login()">
                    <span>Login</span>
                </button>
            </section>
        </footer>
    </div>
</div>