<!--This season anime-->
<section>
    <h3>This season</h3>
    <loader *ngIf="animeLists.thisSeason.loading"></loader>
    <anime-carrousel-component [animes]="animeLists.thisSeason.series" (animeSelected)=animeSelected($event) *ngIf="!animeLists.thisSeason.loading"></anime-carrousel-component>
</section>
<!--Top airing anime-->
<section>
    <h3>Top airing</h3>
    <loader *ngIf="animeLists.airing.loading"></loader>
    <anime-carrousel-component [animes]="animeLists.airing.series" (animeSelected)=animeSelected($event) *ngIf="!animeLists.airing.loading"></anime-carrousel-component>
</section>
<!--Most popular anime-->
<section>
    <h3>Most popular</h3>
    <loader *ngIf="animeLists.bypopularity.loading"></loader>
    <anime-carrousel-component [animes]="animeLists.bypopularity.series" (animeSelected)=animeSelected($event) *ngIf="!animeLists.bypopularity.loading"></anime-carrousel-component>
</section>
<!--Best ranked anime-->
<section>
    <h3>Best ranked</h3>
    <loader *ngIf="animeLists.favorite.loading"></loader>
    <anime-carrousel-component [animes]="animeLists.favorite.series" (animeSelected)=animeSelected($event) *ngIf="!animeLists.favorite.loading"></anime-carrousel-component>
</section>
<!--Top upcoming anime-->
<section>
    <h3>Top upcoming</h3>
    <loader *ngIf="animeLists.upcoming.loading"></loader>
    <anime-carrousel-component [animes]="animeLists.upcoming.series" (animeSelected)=animeSelected($event) *ngIf="!animeLists.upcoming.loading"></anime-carrousel-component>
</section>