<section *ngIf="!anime">
    <loader></loader>
</section>

<section id="anime-detail" class="padding-10" *ngIf="anime">
    <h1>{{anime.title}}</h1>
    <h3 *ngIf="anime.title_japanese">{{anime.title_japanese}}</h3>
    <div class="position-relative">
        <img class="anime-detail-image" [src]=anime.image_url alt='Error loading image'>
        <section id="anime-detail-container" class="padding-10">
            <p *ngIf="anime.score">
                <strong>Score: </strong>
                <span>{{anime.score}}</span>
            </p>
            <p *ngIf="anime.episodes">
                <strong>Episodes: </strong>
                <span>{{anime.episodes}}</span>
            </p>
            <p *ngIf="anime.status">
                <strong>Status: </strong>
                <span>{{anime.status}}</span>
            </p>
            <p *ngIf="anime.aired.string">
                <strong>Aired: </strong>
                <span>{{anime.aired.string}}</span>
            </p>
            <p *ngIf="anime.rating">
                <strong>Rating: </strong>
                <span>{{anime.rating}}</span>
            </p>
            <p *ngIf="anime.premiered">
                <strong>Premiered: </strong>
                <span>{{anime.premiered}}</span>
            </p>
            <p *ngIf="anime.broadcast">
                <strong>Broadcast: </strong>
                <span>{{anime.broadcast}}</span>
            </p>
        </section>
    </div>
    <!--Add to history section-->
    <loader *ngIf="authenticated && loading"></loader>
    <section *ngIf="authenticated && !loading">
        <div class="divider margin-10"></div>
        <h3 *ngIf="userHistory" >Modify my list</h3>
        <h3 *ngIf="!userHistory" >Add to my list</h3>
        <history-manager [receivedHistory]="this.userHistory" [anime]="anime"></history-manager>
        <div class="divider margin-10"></div>
    </section>
    <strong>Synopsis:</strong>
    <p>{{anime.synopsis}}</p>
</section>