#anime-detail-container {
    display : inline-block;
    position  : absolute;
    top       : 0;
}

@media screen and (max-width:480px) {
    #anime-detail-container {
        display: contents;
    }
    #anime-detail{
        text-align: center;
    }
}

img.anime-detail-image {
    max-width : 200px;
    width     : 200px;
    
    max-height: 300px;
    height    : 300px;
}