<header>
    <h1>History</h1>
</header>

<loader *ngIf="historyLoader"></loader>
<div *ngIf="!historyLoader">
    <!--Watching anime-->
    <section *ngIf="historyWatching">
        <div *ngIf="historyWatching.length">
            <h3>Watching</h3>
            <anime-carrousel-component [animes]="historyWatching" (animeSelected)=animeSelected($event)
                *ngIf="!historyLoader"></anime-carrousel-component>
        </div>
    </section>
    <!--Pending anime-->
    <section *ngIf="historyPending">
        <div *ngIf="historyPending.length">
            <h3>Pending</h3>
            <anime-carrousel-component [animes]="historyPending" (animeSelected)=animeSelected($event)
                *ngIf="!historyLoader"></anime-carrousel-component>
        </div>
    </section>
    <!--Finished anime-->
    <section *ngIf="historyFinished">
        <div *ngIf="historyFinished.length">
            <h3>Finished</h3>
            <anime-carrousel-component [animes]="historyFinished" (animeSelected)=animeSelected($event)
                *ngIf="!historyLoader"></anime-carrousel-component>
        </div>
    </section>
</div>