<div>
    <form class="history-manager">
        <strong id="history-manager-status-label">Status:</strong>
        <select id="history-manager-status" name="status" [(ngModel)]="history.status" (change)="selectedStatus()">
            <option *ngFor="let status of animeStatus" [value]="status">
                {{status}}
            </option>
        </select>
        <strong *ngIf="history.status!=='PENDING'" id="history-manager-score-label">Score:</strong>
        <select *ngIf="history.status!=='PENDING'" id="history-manager-score" name="score" [(ngModel)]="history.score">
            <option *ngFor="let score of scores" [value]="score.value">
                {{score.value}}: {{score.verbose}}
            </option>
        </select>
        <strong id="history-manager-episodes-label" *ngIf="history.status!=='PENDING'">Watched episoded:</strong>
        <input [disabled]="history.status==='FINISHED'" id="history-manager-episodes" name="watched_episodes"
            *ngIf="history.status!=='PENDING'" placeholder="Watched episodes" type=number
            [(ngModel)]="history.watched_episodes">
    </form>
    <loader *ngIf="loading"></loader>
    <footer *ngIf="!loading" class="toolbar">
        <section *ngIf="!receivedHistory" class="toolbar-actions">
            <button (click)=addToHistory()>Add</button>
        </section>
        <section *ngIf="receivedHistory" class="toolbar-actions">
            <button (click)=updateHistory()>Update</button>
        </section>
    </footer>
</div>