.history-manager {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows       : min-content;
}

#history-manager-status-label {
    grid-column: 1;
    grid-row   : 1;
}

#history-manager-status {
    grid-column: 2;
    grid-row   : 1;
}

#history-manager-score-label {
    grid-column: 1;
    grid-row   : 2;
}

#history-manager-score {
    grid-column: 2;
    grid-row   : 2;
}


#history-manager-episodes-label {
    grid-column: 1;
    grid-row   : 3;
}

#history-manager-episodes {
    grid-column: 2;
    grid-row   : 3;
}