/* You can add global styles to this file, and also import other style files */
body {
    background-color: #111;
    color           : #EEE;
    font-family     : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin          : 0px !important;
}

button {
    height          : inherit;
    background-color: inherit;
    color           : #EEE;
    border-style    : hidden;
    padding-left    : 20px;
    padding-right   : 20px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

button:active {
    background-color: rgba(0, 0, 0, 0.4);
}

button:disabled,
button[disabled] {
    background-color: #999 !important;
    color           : #555 !important;
}

input {
    padding      : 5px;
    border-style : solid;
    border-color : #AAA;
    border-radius: 5px;
    height       : 1.5em;
}

select {
    border-style : solid;
    border-color : #AAA;
    border-radius: 5px;
    height: 2.5em;
}

.input-container {
    margin-top   : 10px;
    margin-bottom: 10px;
}

.dialog {
    display         : none;
    position        : fixed;
    z-index         : 1;
    //padding-top   : 100px; /* Location of the box */
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    overflow        : auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.dialog-content {
    //background-color: #fefefe;
    margin            : auto;
    max-width         : 50%;
    top               : 0;
    bottom            : 0;
    left              : 0;
    right             : 0;
    position          : absolute;
    height            : fit-content;
    width             : fit-content;
    background-color  : #111;
    box-shadow        : 0px 0px 9px 0px #fff;
}

.toolbar {
    width     : 100%;
    background: linear-gradient(#111, #444);
    height    : 2.5em;
}

.toolbar-title {
    height  : inherit;
    position: absolute;
    left    : 0;
    padding : 10px;
}

//Sets the content to the right
.toolbar-actions {
    position: absolute;
    right   : 0;
    height  : inherit;
}

//Auxiliary classes
.padding-10 {
    padding: 10px;
}

.margin-10 {
    margin: 10px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.divider{
    border-top-width: 1px;
    border-top-style: solid;
}